/*  This font doesnt work very well tbh 
    also, spent quite some time looking for pixel art for the menu, but no dice.
*/
@font-face {
  font-family: 'BetterPixels';
  src: url('/font/BetterPixels.ttf');
}

:root {
  --yellow: #FFC60B;
  --green: #85AE85;
  --light-blue: #0A95FF;
  --dark-blue: #230AFF;
  --purple: #7766FF;
  --lilac: #AAA0FF;
  --dark-orange: #df880a;
  --chocolate: #c16a08;
  --khaki: #ffde73;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/forestbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'BetterPixels';
  color:#513003;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(9, 255, 149, 0.2);
  /* position: sticky;
  top: 0; */
  border: none;
}

button {
  margin-right: 5px;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 7px;
  color:rgb(254, 204, 0);
  background: #035218;
  font-family: 'BetterPixels';
  font-size: 1.3rem;
}

button:hover {
  background: rgba(16, 147, 51, 0.83);
  cursor: pointer;
  color: rgb(139, 255, 7);
  font-weight: bold;
}

#content {
  background-color: rgba(242, 251, 162, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 90.9%;
  margin: 0 auto;
  border-radius: 30px;
}

.heading {
  font-size: 3rem;
  line-height: 0.8;
  margin-bottom: 60px;
  background-color: rgba(255, 218, 11, 0.9);
  text-align: center;
  color:#5b3807;
  border-radius: 13px;
  padding: 26px;
}

.menu-heading {
  font-size: 2.6rem;
  line-height: 0.8;
  margin-top: 20px;;
  margin-bottom: 30px;
  background-color: rgba(253, 253, 22, 0.6);
  text-align: center;
  color:#613b06;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
}

.home-info {
  background:rgba(108, 231, 205, 0.7);
  margin-bottom: 40px;
  padding: 25px;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 10px;
  min-width: 333px;
}

.home-info p:nth-of-type(2) {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}

.home-info > h3 {
  margin-left: 20px;
  font-size: 2rem;
}

#hours > p,
#location > p {
  margin: 10px 0 0 35px;
} 

.menu-info {
  background:rgba(108, 231, 205, 0.7);
  margin-bottom: 40px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 10px;
  text-align: center;
}

.menu-info p:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
}

.menu-info p:nth-of-type(2) {
  margin: 15px 0 20px 0;
}

.menu-info p:nth-of-type(3) {
  font-size: 2.2rem;
  font-weight: bold;
}

.contact-info {
  background:rgba(108, 231, 205, 0.7);
  margin-bottom: 40px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 10px;
}

.contact-info p:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-info p:nth-of-type(2) {
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  header {
    height: 100px;
  }
  button {
    margin-right: 15px;
    width: 100px;
    height: 55px;
    font-size: 1.6rem;
  }
  #content {
    width: 64%;
  }
  .heading {
    font-size: 3.5rem;
    padding: 10px 30px 10px 30px;
  }
  .menu-info {
    height: fit-content !important;
  }
  .home-info,
  .menu-info,
  .contact-info {
    width: 400px;
    font-size: 1.9rem;
  }
  .home-info p:nth-of-type(2) {
    font-size: 2rem;
  }
  .menu-info p:nth-of-type(1),
  .contact-info p:nth-of-type(1) {
    font-size: 2.4rem;
  }
  .menu-info p:nth-of-type(3) {
    font-size: 2.6rem;
  }
  .menu-heading {
    font-size: 2.83rem;
  }
}